* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main-section {
  background-color: #ccc;
}

.header {
  display: flex;
  flex-direction: column;
  background-color: #fff;
  color: #ccc;
}

.header .top-nav {
  background-color: #000;
  color: #fff;
  justify-content: space-between;
  display: flex;
  padding: 10px 20px;
}

.main-navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #fff;
}

.main-navbar li {
  display: inline-block;
  padding: 10px 0 10px 30px;
}

.main-navbar a {
  color: #ccc;
}

.search {
  border-left: 0.5px solid #ccc;
  width: 50px;
  height: 50px;
  background: url("https://api.iconify.design/icons8:search.svg") no-repeat
    center center / contain;
  background-size: 50%;
}

.top-nav a {
  padding: 0 0 0 10px;
  color: #ccc;
}

.top-navRight ul {
  display: flex;
  justify-content: space-between;
}

.header li a {
  text-decoration: none;
}

ul li {
  list-style-type: none;
}

main {
  display: flex;
  flex-direction: column;
}

/* Latest News section */

.latest-news {
  padding: 5rem;
}

.latest-news-Grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-gap: 20px;
}

.latest-news-Grid img {
  width: 100%;
}

.latest-news-Grid figcaption {
  font-weight: 700;
  line-height: 1.25;
}

.latest-news-col_1 ul {
  display: flex;
  color: #aaa;
  font-size: 12px;
  padding-top: 4px;
}

.latest-news-col_1 ul li {
  padding: 0 5px 0 0;
}

/* Latest Details */
